$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.9;
@mixin easeOut {
  // transtion has three parameters 1- what you want to apply transition on
  // also it can has (all) which mean apply to all
  // element in the barackts
  // 2- take the time you want to spend apply the
  // transtions 3- the type off the transition

  transition: all 0.5s ease-out;
}
@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      // fixed background picture dont allow it to move
      background-attachment: fixed;
      // allow the backround picture to be clear not blur
      background-size: cover;
      // افتر لا بد يجي معاه ك،نتنت
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}
